# Sample configuration file for openlcs library.
# Please `cp conf.cfg.sample conf.cfg` and update relevant items as listed.
# This is required to tune the library up to communicate with openlcs hub.

[general]
# this should be consistent with what we have on hub.
api_path = /rest/v1/
# Valid options are names of the sections below
hub_server = local

[local]
hostname = localhost
port = 8000
username = admin
password = test